<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>

    <form method="post" action="/add">
        <label for="">Nome: </label>
        <input type="text" name="nome_banda">

        <label for="">Estado: </label>
        <input type="text" name="musica">

        <label for="">Show: </label>
        <input type="text" name="show">

        <label for="">Data: </label>
        <input type="text" name="data">

        <label for="">Cidade: </label>
        <input type="text" name="cidade">

        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>